<a href="../index.html">Hier geht´s zur Startseite</a>

<h1>https://www.youtube.com/watch?v=p1QU3kLFPdg | https://play.pokemonshowdown.com/sprites/ | https://www.youtube.com/watch?v=_oO4Qi5aVZs</h1>

<html> 
<script>
<head><title>First JSP</title></head> 
<body> 
  <% 
    double num = Math.random(); 
    if (num > 0.95) { 
  %> 
      <h2>You'll have a luck day!</h2><p>(<%= num %>)</p> 
  <% 
    } else { 
  %> 
      <h2>Well, life goes on ... </h2><p>(<%= num %>)</p> 
  <% 
    } 
  %> 
  <a href="<%= request.getRequestURI() %>"><h3>Try Again</h3></a> 
</body> 



</script>
</html> 
